*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    background-color: #f6f5f3;
}


/*Header section*/

header{
    
    .header-container{
        background-color: white;
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
    
    h1{
        font-family: "Nerko One", cursive;
        text-transform: uppercase;
        color: #ff9614;
        font-size: 4rem;
        text-shadow: 1px 1px 2px black;
    }

    
}

/*Main section*/

main{

    .main-container{
        padding: 20px 20px;
        width: 95%;
        max-width: 766px;
        margin: 0 auto;
    }

    h1{
        color: #4e3969;
        text-transform: capitalize;
        padding: 10px 0 30px;
    }

    h4{
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #b1b8c5;
    }

    .recipe-ctn{
        width: 100%;
        box-shadow: 1px 1px 3px grey;
        padding-bottom: 20px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .col{
        width: 100%;
    }

    img{
        width: 100%;
    }

    h3{
        text-transform: capitalize;
        padding: 15px 15px;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        gap: 10px;
        list-style: none;
    }

    .icon{
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
    }

    #facebook,
    #twitter,
    #instagram,
    #pinterest,
    #youtube{
        width: 3rem;
        height: 3rem;
        border-radius: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
       
    }

    .presentation h1{
        text-transform: uppercase;
        color: black;
    }

    hr{
        width: 85px;
        border: none;
        border-top: 3px solid orange;
    }

    .presentation img{
        padding: 10px;
        width: 50%;
    }

    .presentation p{
        line-height: 1.8;
    }

}









/*Media section*/

@media screen and (min-width:768px){
    .header-container h1{
       text-align: left;
    }

    main .main-container{
        width: 85%;
        padding-top: 50px;
    }
    
    main ul{
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }

    li{
       width: calc(100%/12*3);
    }

    main.row{
        flex-wrap: wrap;
    }

    .icon span{
        display: none;
    }

   .icon #facebook,
   .icon #twitter,
   .icon #instagram,
   .icon #pinterest,
   .icon #youtube{
        height: 2.5rem;
        width: 7rem;
        padding: 0 5rem;
    }

    .banner{
        display: none;
    }

    .presentation img{
        float: left;
    }
}

@media screen and (max-width: 767px){
    .main-container span{
        display: none;
    }
    .icon span{
        display: none;
    }

    .banner{
        display: none;
    }

}

@media screen and (min-width: 992px){
    main .main-container{
        width: 65%;
    }

    main .col{
        width: 50%;
    }

    main .row{
        flex-direction: row;
    }

    main .col-left{
        width: 70%;
    }

   main .col-right{
        width: 30%;
    }

    main ul{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        font-size: small;
    }

    main li{
        width: 100%;
    }

    section.recipe-ctn{
        padding-bottom: 0;
    }

    .icon span{
        display:block ;
        padding-left: 5px;
    }

    .banner{
        display: block;
    }

    .presentation img{
        width: 30%;
    }
}